<!-- BEGIN entity_view -->
{ENTITY_VIEW}
<!-- END entity_view -->
<!-- BEGIN mailing -->
{MAILING}
<!-- END mailing -->
<!-- BEGIN shop_order_detail -->
<div id="shop-order">
    <div id="shop-order-info">
        {SHOP_ORDER_INFO}
    </div>
    <div id="shop-order-billing">
        {SHOP_ORDER_BILLING}
    </div>
    <div id="shop-order-shipping">
        {SHOP_ORDER_SHIPPING}
    </div>
    <div id="shop-order-payment">
        {SHOP_ORDER_PAYMENT}
    </div>
    <div id="shop-order-items">
        {SHOP_ORDER_ITEMS}
    </div>
    <div id="shop-order-note">
        {SHOP_ORDER_NOTE}
    </div>
</div>
<!-- END shop_order_detail -->