<!-- START shop_settings.html -->
<script type="text/javascript">
// <![CDATA[
function swapBlockStatus(id, status)
{
  if (status) {
    document.getElementById(id).style.display = 'block';
  } else {
    document.getElementById(id).style.display = 'none';
  }
}

function swapBlock(div)
{
  displayType = (document.getElementById(div).style.display == 'none' ? 'block' : 'none');
  document.getElementById(div).style.display = displayType;
}
// ]]>
</script>
<br />
{SHOP_SETTINGS_FILE}
<br />
<!-- END shop_settings.html -->
