<!-- START shop_products.html -->
<script type="text/javascript">
// <![CDATA[
function swapBlockStatus(div, status)
{
  if (status == 1) {
    document.getElementById( div ).style.display ='block';
  } else {
    document.getElementById( div ).style.display ='none';
  }
}

function swapBlock(div)
{
  displayType =
    (document.getElementById(div).style.display == 'none' ? 'block' : 'none');
  document.getElementById(div).style.display = displayType;
}
// ]]>
</script>
<br />
{SHOP_PRODUCTS_FILE}
<br />
<!-- END shop_products.html -->
