<form method="get" id="vg-{VG_ID}-searchForm" data-vg-id="{VG_ID}"></form>
<!-- BEGIN filter -->
<div id="vg-{VG_ID}-extendedSearch">
    <table class="adminlist user-search" cellspacing="0" cellpadding="3" width="100%" border="0">
        <tbody>
        <tr>
            <th colspan="4" valign="top">{TXT_CORE_USER_FILTER}</th>
        </tr>
        <tr class="row1">
            <!-- BEGIN filter-field -->
            <td>
                {FIELD_FILTER_OPTIONS}
            </td>

            <!-- END filter-field -->
        </tr>
        </tbody>
    </table>
</div>
<!-- END filter -->
<!-- BEGIN search -->
<div id="vg-{VG_ID}-filterSearch">
    <table class="adminlist" cellspacing="0" cellpadding="3" width="100%" border="0">
        <tbody>
        <tr class="row1">
            <td>
                <input type="text" name="term" placeholder="{TXT_CORE_SEARCH_TERM}" class="vg-encode search-bar" form="vg-{VG_ID}-searchForm">
                <input type="<!-- BEGIN submitSearch -->submit<!-- END submitSearch --><!-- BEGIN buttonSearch -->button<!-- END buttonSearch -->" value="{TXT_SEARCH}" class="vg-searchSubmit" form="vg-{VG_ID}-searchForm">
            </td>
        </tr>
        </tbody>
    </table>
</div>
<!-- END search -->
<!-- BEGIN filter-alphabetical -->
<div id="vg-{VG_ID}-alphabeticalSearch">
    <ul class="vg-alphabeticalSearch">
        <!-- BEGIN letter -->
        <li <!-- BEGIN selected -->class="selected"<!-- END selected -->>
        <a href="{ALPHABETICAL_URL}">{LETTER}</a>
        </li>
        <!-- END letter -->
    </ul>
</div>
<!-- END filter-alphabetical -->
<!-- BEGIN no-entries -->
<p class="vg-noresult">{TXT_NO_RESULT}</p>
<!-- END no-entries -->
<!-- BEGIN table -->
{TABLE}<br />
{PAGING}
<!-- END table -->
{ADD_BUTTON}
