td.manufacturer-id {
    width: 3%;
}
td.manufacturer-name {
    width: 20%;
}
td.manufacturer-uri {
    width: 75%;
}

td.category-id {
    width: 2%;
}
td.category-name {
    width: 88%;
}

label.category {
    display: block;
}
span.child:before {
    content: '|----';
}
.default {
    padding-left: 30px !important;
 }
table[data-entity='Currency'] td {
    padding-left: 10px;
}
span.child label.category {
    display: inline-block;
}
#footerRight, #headerRight {
    text-align: right;
}
div#form-0-type div {
    display: inline;
}
.shop-coupon-link {
    width: 10%;
}
.coupon-url-link {
    display: none;
    max-width: 80%;
    margin-left: 5px;
}