#vg-0-filterSearch {
    float: left;
    width: 12%;
}

#vg-0-filterSearch .row1  input[type="button"],
#vg-0-filterSearch .row1  a,
#vg-0-extendedSearch tr:nth-child(-n+3) td:nth-child(1) {
    display: none;
}

#vg-0-filterSearch .row1 input[type="text"] {
    width: 100%;
    box-sizing: border-box;
}

#vg-0-extendedSearch {
    float: right;
    width: 88%;
    display:block !important;
}

#vg-0-extendedSearch .adminlist th {
    color: #0071bc;
}

#vg-0-extendedSearch .adminlist td,
#vg-0-extendedSearch .adminlist tr:nth-child(n+2) {
    float: left;
}

#content > table.adminlist tr:nth-child(n+1) td:nth-child(1) {
    width: 20px;
}

.custom-input {
    float: right;
    margin-right: 125px;
    font-weight: bold;
}
.custom-input input {
    margin-left: 4px;
}

.tooltip-wrapper {
    padding: 6px 32px;
}

.order-id {
    width: 4%;
    text-align: right !important;
    padding-right: 1% !important;
}
.order-sum,
.order-note,
.order-date-time,
.order-status{
    width: 12%;
}
.order-customer {
    width: 38%;
}

.readonly {
    border: none !important;
    padding-left: 0 !important;
    background: #fff;
}

td.manufacturer-id {
    width: 3%;
}
td.manufacturer-name {
    width: 20%;
}
td.manufacturer-uri {
    width: 75%;
}

td.category-id {
    width: 2%;
}
td.category-name {
    width: 88%;
}

label.category {
    display: block;
}
>>>>>>> CLX-2489-migrate-currency-view
