<script>
    function cxCookieNoteAccepted() {
        var gaProperty = '{GOOGLE_ANALYTICS_TRACKING_ID}';
        var disableStr = 'ga-disable-' + gaProperty; 
        if (document.cookie.indexOf(disableStr + '=true') > -1) { 
            window[disableStr] = true;
        } 
        function gaOptout(successMsg) { 
            document.cookie = disableStr + '=true; expires=Thu, 31 Dec 2099 23:59:59 UTC; path=/'; 
            window[disableStr] = true; 
            alert(successMsg);
        }
        window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
        ga('create', gaProperty, 'auto');
        <!-- BEGIN exclude_identifying_info -->
        ga('set', 'anonymizeIp', true);
        <!-- END exclude_identifying_info -->
        ga('send', 'pageview');
    }
    <!-- BEGIN no_cookie_note -->
    cxCookieNoteAccepted();
    <!-- END no_cookie_note -->
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>
