/**
 * This file is loaded by the abstract SystemComponentBackendController
 * You may add own CSS files using
 * \JS::registerCSS(substr($this->getDirectory(false, true) . '/View/Style/FileName.css', 1));
 * or remove this file if you don't need it
 */
/* START password */
#form-0-password {
    position: relative;
}

form.cx-ui input[name="password"],
#form-0-passwordConfirmed {
    text-security: disc;
    -webkit-text-security: disc;
}

#password-complexity {
    padding: 4px 8px 4px 8px;
    font-weight: bold;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    height: 13px;
    line-height: 14px;
    position: absolute;
    white-space: nowrap;
    left: calc(100% + 25px);
    top: 0px;
}

#password-complexity.short,
#password-complexity.weak {
    color: #B94A48;
    border: 1px solid #EED3D7;
    background: #F2DEDE;
}

#password-complexity.good {
    color: #3A87AD;
    border: 1px solid #BCE8F1;
    background: #D9EDF7;
}

#password-complexity.strong {
    color: #468847;
    border: 1px solid #D6E9C6;
    background: #DFF0D8;
}
/* END password */

.user-is-admin {
    padding: 3px;
}

#form_0_group_chosen {
    width: 308px !important;
}

#vg-0-extendedSearch .user-search td {
    width: 5%;
}

#vg-0-extendedSearch .user-search td:last-child {
    width: 85%;
}

#vg-0-filterSearch .search-bar {
    width:300px;
}

form.cx-ui > fieldset .group > .controls {
    margin-left: 22px;
    float: inherit;
    display: inline-block;
}

form.cx-ui > fieldset .group > label {
    float: unset;
    display: inline-block;
}

form.cx-ui > fieldset #form-0-newsletter .group > label {
    display: none;
}
form.cx-ui > fieldset #form-0-newsletter .group > .controls {
    margin: 0;
}

#form-0-newsletter .controls {
    width: 100%;
}

#content div[name="newsletter"] {
    display: block;
}
#content #form-0-newsletter .group {
    padding-bottom: 0;
}

#content div[name="newsletter"] label {
    width: 100%;
    line-height: 27px;
    display: block;
}

#content div[name="newsletter"] input {
    float: left;
    margin: 7px 5px !important;
}

#content div[name="newsletter"] label::after {
    border-bottom: 1px solid #e5e5e5;
    content: ' ';
    width: 100%;
    float: left;
}

#content div[name="newsletter"] label:last-of-type::after {
    display: none;
}

#form-0-moduleSpecificExtensions input[type='checkbox'] {
    float: left;
    margin-top: 4px;
}